@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Open Sans, serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px; }

.logo a {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  color: #fff; }

.page-wrapper {
  overflow: hidden; }

.container {
  max-width: 1225px;
  margin: 0 auto; }

.title {
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  text-align: center; }

.subtitle {
  font-weight: 600;
  font-size: 26px;
  line-height: 35px;
  color: #292929; }

a {
  text-decoration: none;
  color: #000; }

.btn {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  padding: 20px 70px;
  background-color: #FCD302;
  cursor: pointer;
  outline: none; }

header {
  background: url(../img/header-bg.png) no-repeat top;
  background-size: cover; }

.page {
  background-color: #fff; }

.page-grey {
  background-color: #F5F5F5; }

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  color: #FFFFFF;
  padding: 20px 0; }
  .header-top a {
    color: #FFFFFF;
    margin-right: 30px; }
    .header-top a:last-child {
      margin-right: 0; }
  .header-top__link {
    font-size: 18px;
    line-height: 25px; }

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .profile__wrapper {
    margin-left: 13px;
    font-size: 18px;
    line-height: 25px; }

.header-content__title {
  color: white;
  margin-top: 75px; }
.header-content__form {
  margin-top: 75px;
  min-width: 100%;
  position: relative;
  width: 70px; }
.header-content__input {
  position: relative;
  z-index: 1;
  min-width: 100%;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  color: #000;
  padding: 20px 30px;
  border-radius: 4px; }
  .header-content__input:placeholder-shown {
    color: #737373;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px; }
.header-content__btn {
  position: absolute;
  padding-right: 90px;
  padding-left: 90px;
  z-index: 2;
  top: 0;
  right: 0;
  border-radius: 0 4px 4px 0; }
.header-content__text {
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 80px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  max-width: 1010px; }

.block-use__title {
  color: #292929;
  padding-top: 60px; }
.block-use__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
      align-items: flex-end;
  margin-top: 75px;
  padding-bottom: 125px; }
.block-use__item svg path {
  fill: black;
  -webkit-transition: 0.2s fill ease-in-out, 0.2s stroke ease-in-out;
  transition: 0.2s fill ease-in-out, 0.2s stroke ease-in-out; }
.block-use__svg-gas:hover path, .block-use__svg-gas:active path {
  fill: #1A7FC3; }
.block-use__svg-soglas:hover path, .block-use__svg-soglas:active path {
  fill: #D86C43; }
.block-use__svg-vsk:hover path, .block-use__svg-vsk:active path {
  fill: #006FBA; }
.block-use__svg-vsk:hover .light-blue, .block-use__svg-vsk:active .light-blue {
  fill: #52B9E9; }
.block-use__svg-alfastrah:hover path, .block-use__svg-alfastrah:active path {
  fill: #E31836; }

.block-advantage__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-top: 120px;
  padding-bottom: 120px; }
.block-advantage__item {
  width: 30%;
  text-align: center; }
.block-advantage__description {
  margin-top: 30px; }
  .block-advantage__description_wrapper {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #292929; }
  .block-advantage__description_text {
    margin-top: 20px;
    font-size: 20px;
    line-height: 28px;
    color: #2C3959; }

.page-online .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 70px; }
  .page-online .container .block-online {
    width: 790px;
    padding: 30px;
    -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05); }
    .page-online .container .block-online__subtitle {
      margin-bottom: 30px; }
    .page-online .container .block-online__table {
      border-collapse: collapse;
      width: 100%; }
      .page-online .container .block-online__table tr {
        border-bottom: 1px solid #EBEBEB;
        width: 790px; }
        .page-online .container .block-online__table tr:last-child {
          border-bottom: none; }
        .page-online .container .block-online__table tr td {
          padding: 10px 16px;
          max-width: 190px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
          .page-online .container .block-online__table tr td:last-child {
            text-align: right; }
          .page-online .container .block-online__table tr td:nth-child(2) {
            padding-right: 30px;
            padding-left: 0; }
          .page-online .container .block-online__table tr td:nth-child(3) {
            padding-right: 30px; }
          .page-online .container .block-online__table tr td a {
            text-decoration: underline;
            color: #2D81FF; }
  .page-online .container .block-sources {
    -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
    width: 100%;
    margin-left: 36px;
    padding: 30px; }
    .page-online .container .block-sources__subtitle {
      margin-bottom: 30px; }
    .page-online .container .block-sources__list {
      list-style-type: none; }
    .page-online .container .block-sources__item {
      padding-left: 40px;
      position: relative;
      font-size: 16px;
      line-height: 22px;
      padding-bottom: 20px;
      color: #292929; }
      .page-online .container .block-sources__item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        background: url(../img/succsess.svg) no-repeat center; }

.block-rewiews {
  padding-bottom: 90px; }
  .block-rewiews__subtitle {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px; }
  .block-rewiews__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
    margin-bottom: 135px; }
  .block-rewiews__item {
    margin-right: 43px; }
    .block-rewiews__item:last-child {
      margin-right: 0; }
  .block-rewiews__btn {
    display: block;
    margin: 0 auto; }

.rewiew__box {
  background-color: #fff;
  position: relative;
  padding: 30px 30px 25px;
  text-align: center;
  height: 500px; }
  .rewiew__box .border {
    display: block;
    background-color: #2D81FF;
    width: 200px;
    height: 2px;
    margin: 0 auto 20px; }
.rewiew__avatar {
  margin-bottom: 10px; }
.rewiew__name {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #2C3959;
  margin-bottom: 15px; }
.rewiew__car {
  color: #2C3959;
  margin-bottom: 10px; }
.rewiew__footer {
  position: absolute;
  bottom: 25px;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%); }
.rewiew__id {
  position: relative;
  left: 5px;
  color: #2D81FF;
  display: inline; }
  .rewiew__id::before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: -30px;
    background: url(../img/car.svg) no-repeat center; }

.block-FAQ__subtitle {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 60px; }
.block-FAQ__item {
  position: relative;
  padding-bottom: 25px;
  padding-left: 38px; }
.block-FAQ__btn {
  display: block;
  margin: 50px auto; }
.block-FAQ__question {
  cursor: pointer;
  -moz-user-select: none;
  /* Mozilla Firefox */
  -ms-user-select: none;
  /* Internet Explorer (не поддерживается) */
  -o-user-select: none;
  /* Opera Presto (не поддерживается) */
  -webkit-user-select: none;
  /* Google Chrome, Opera Next, Safari */
  color: #2D81FF;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px; }
  .block-FAQ__question::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #2D81FF;
    border-radius: 1.5px;
    left: 8px;
    top: 12px;
    width: 14px;
    height: 3px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .block-FAQ__question::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #2D81FF;
    border-radius: 4px;
    left: 0;
    top: 12px;
    width: 14px;
    height: 3px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .block-FAQ__question_active {
    color: #292929; }
    .block-FAQ__question_active::before {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      background-color: #292929; }
    .block-FAQ__question_active::after {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      background-color: #292929; }
.block-FAQ__answer {
  display: none;
  position: relative;
  margin-top: 20px;
  width: 1000px;
  padding: 15px 30px;
  border: 1px solid #E0E0E0;
  border-radius: 4px; }
  .block-FAQ__answer::before, .block-FAQ__answer::after {
    content: '';
    position: absolute;
    left: 20px;
    top: -20px;
    border: 10px solid transparent;
    border-top: 11px solid #E0E0E0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  .block-FAQ__answer::after {
    border-top: 10px solid white;
    top: -18px; }
  .block-FAQ__answer_header {
    padding-bottom: 18px; }

footer {
  background-color: #1A1A1A;
  color: #FFF; }
  footer .footer__content {
    padding-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  footer .footer__item {
    max-width: 15%; }
    footer .footer__item__title {
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 20px; }
    footer .footer__item ul {
      list-style-type: none; }
      footer .footer__item ul a li {
        color: #fff;
        text-decoration: underline;
        margin-top: 15px;
        font-size: 14px; }
  footer .footer__border {
    width: 100%;
    height: 1px;
    background-color: #454545;
    margin-top: 100px;
    margin-bottom: 30px; }
  footer .footer-under__logo {
    margin-bottom: 10px; }
  footer .footer-under__copyright {
    font-size: 14px;
    line-height: 19px; }
  footer .footer-under__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  footer .footer-under__tel {
    margin-top: 5px;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    footer .footer-under__tel svg {
      margin-right: 10px; }
  footer .footer-under__text {
    margin-top: 10px;
    padding-bottom: 60px;
    text-align: right;
    display: inline-block;
    line-height: 24px;
    height: auto; }
    footer .footer-under__text a {
      color: #fff; }

/*# sourceMappingURL=style.css.map */