* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Open Sans, serif;
  font-weight: 400;
  font-size: 16px; }

.page-wrapper {
  overflow: hidden; }

body {
  min-height: 1800px;
  background-color: #fff; }

.container {
  max-width: 1225px;
  margin: 0 auto; }

a {
  text-decoration: none;
  color: #000; }

header {
  background: url(../img/header-bg.png) no-repeat top;
  background-size: cover; }

.header-top {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 20px; }
  .header-top__logo a {
    font-weight: 600;
    font-size: 22px;
    line-height: 30px; }
  .header-top a {
    color: #FFFFFF;
    margin-right: 30px; }
    .header-top a:last-child {
      margin-right: 0; }

.profile {
  display: -webkit-box;
  display: flex; }
  .profile__wrapper {
    margin-left: 13px;
    font-size: 18px;
    line-height: 25px; }
