@charset "UTF-8";

$footer-color:  #1A1A1A;
$blue: #2D81FF;
$grey: #F2F2F2;

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Open Sans, serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.logo a {
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    color: #fff;
}

.page-wrapper {
    overflow: hidden;
}

.container {
    max-width: 1225px;
    margin: 0 auto;
}

.title {
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
}

.subtitle {
    font-weight: 600;
    font-size: 26px;
    line-height: 35px;
    color: #292929;   
}

a {
    text-decoration: none;
    color: #000;
}

.btn {
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    padding: 20px 70px;
    background-color: #FCD302;
    cursor: pointer;
    outline: none;

}

header {
    background: url(../img/header-bg.png) no-repeat top;
    background-size:  cover;

}

.page {
    background-color: #fff;
}

.page-grey {
    background-color: #F5F5F5;
}

.header-top {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: justify;
            justify-content: space-between;
    color: #FFFFFF;
    padding: 20px 0;
    a {
        color: #FFFFFF;
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__link {
        font-size: 18px;
        line-height: 25px;
    }
    
}
.profile {
    display: -webkit-box;
    display: flex;
    &__wrapper {
        margin-left: 13px;
        font-size: 18px;
        line-height: 25px; 

    }
}

.header-content {
    &__title {
        color: white;
        margin-top: 75px;
    }
    &__form {
        margin-top: 75px;
        min-width: 100%;
        position: relative;
        width: 70px;
    }
    &__input {
        position: relative;
        z-index: 1;
        min-width: 100%;
        font-weight: normal;
        font-size: 22px;
        line-height: 30px;
        color: #000;
        padding: 20px 30px;
        border-radius: 4px;
        &:placeholder-shown {
            color: #737373;
            font-weight: normal;
            font-size: 22px;
            line-height: 30px;
        }

        
    }

    &__btn {
        position: absolute;
        padding-right: 90px;
        padding-left: 90px;
        z-index: 2;
        top: 0;
        right: 0;
        border-radius: 0 4px 4px 0;
    }

    &__text {
        margin-top: 80px;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 80px;
        text-align: center;
        color: #fff;
        font-size: 20px;
        line-height: 28px;
        max-width: 1010px;
    }
}

// svg path {
//     fill: black;
//     stroke: black;
// }

.block-use {
    &__title {
        color: #292929;
        padding-top: 60px;
    }
    &__row {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
                justify-content: space-between;
        -webkit-box-align: end;
                align-items: flex-end;
        margin-top: 75px;
        padding-bottom: 125px;
    }
    &__item {
        svg path {
            fill: black;
            -webkit-transition: 0.2s fill ease-in-out, 0.2s stroke ease-in-out;
            transition: 0.2s fill ease-in-out, 0.2s stroke ease-in-out;
        }
        
    }  
    &__svg-gas {
        &:hover path,
        &:active path {
            fill: #1A7FC3;
        }
    }
    &__svg-soglas {
        &:hover path,
        &:active path {
            fill: #D86C43;
        } 
    }
    &__svg-vsk {
        &:hover path,
        &:active path {
            fill: #006FBA;
        } 
        &:hover .light-blue,
        &:active .light-blue {
            fill: #52B9E9;
        } 
    }
    &__svg-alfastrah {
        &:hover path,
        &:active path {
            fill: #E31836;
        } 
        
    }
}

.block-advantage {
    &__row {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
                justify-content: space-between;
        padding-top: 120px;
        padding-bottom: 120px;
    }
    &__item {
        width: 30%;
        text-align: center;
    }
    &__description {
        margin-top: 30px;
        &_wrapper {
            font-weight: bold;
            font-size: 24px;
            line-height: 33px;
            color: #292929;
        }
        &_text {
            margin-top: 20px;      
            font-size: 20px;
            line-height: 28px;
            color: #2C3959;
        }
    }
}

.page-online {
    .container {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
                justify-content: space-between;
        padding-top: 70px;
        padding-bottom: 70px;
        .block-online {
            width: 790px;
            padding: 30px;
            box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
            &__subtitle {
                margin-bottom: 30px;
            }
            &__table {
                border-collapse: collapse;
                width: 100%;
                tr {
                    border-bottom: 1px solid #EBEBEB;
                    width: 790px;
                    &:last-child {
                        border-bottom: none;
                    }
                    
                    td {
                        padding: 10px 16px;
                        max-width: 190px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        &:last-child {
                            text-align: right;
                        }
                        &:nth-child(2) {
                            padding-right: 30px;
                            padding-left: 0;
                        }
                        &:nth-child(3) {
                            padding-right: 30px;
                        }
                        a {
                            text-decoration: underline;
                            color: $blue;
                        }                
                    }    
                }                                
            }
        }
        .block-sources {
            box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
            width: 100%;
            margin-left: 36px;
            padding: 30px;
            &__subtitle {
                margin-bottom: 30px;
            }
            &__list {
                list-style-type: none;
            }
            &__item {
                padding-left: 40px;
                position: relative;
                font-size: 16px;
                line-height: 22px;
                padding-bottom: 20px;
                color: #292929;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 20px;
                    height: 20px;
                    background: url(../img/succsess.svg) no-repeat center;
                }
            }
        }
    }
}

.block-rewiews {
    padding-bottom: 90px;
    &__subtitle {
        text-align: center;
        padding-top: 40px;
        padding-bottom: 50px;
    }
    &__row {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
                justify-content: space-between;
        margin-bottom: 135px;
    }
    &__item {
       margin-right: 43px;
       &:last-child {
           margin-right: 0;
       }
    }
    &__btn {
        display: block;
        margin: 0 auto;
    }
}

.rewiew {
    &__box {
        background-color: #fff;
        position: relative;
        padding: 30px 30px 25px;
        text-align: center;
        height: 500px;
        .border {
            display: block;
            background-color: $blue;
            width: 200px;
            height: 2px;
            margin: 0 auto 20px;
        }
    }
    &__avatar {
        margin-bottom: 10px;
    }
    &__name {
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        color: #2C3959;
        margin-bottom: 15px;
        
    }
    &__car {
        color: #2C3959;
        margin-bottom: 10px;
        
    }
    &__footer {
        position: absolute;
        bottom: 25px;
        left: 50%;
        -webkit-transform: translate(-50%);
                transform: translate(-50%);
    }
    &__id {
        position: relative;
        left: 5px;
        color: $blue;
        display: inline;
        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 20px;
            height: 20px;
            top: 0;
            left: -30px;
            background: url(../img/car.svg) no-repeat center;
        }
    }
}

.block-FAQ {
    &__subtitle {
        text-align: center;
        padding-top: 50px;
        padding-bottom: 60px;
    }
    &__item {
        position: relative;
        padding-bottom: 25px;
        padding-left: 38px;
    }
    &__btn {
        display: block;
        margin: 50px auto;
    }
    &__question {
        cursor: pointer;
        -moz-user-select: none; /* Mozilla Firefox */
        -ms-user-select: none; /* Internet Explorer (не поддерживается) */
        -o-user-select: none; /* Opera Presto (не поддерживается) */
        -webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
        &::before {
            content: "";
            display: block;
            position: absolute;
            background-color: #2D81FF;
            border-radius: 1.5px;
            left: 8px;
            top: 12px;
            width: 14px;
            height: 3px;
            -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
        }
        &::after {
            content: "";
            display: block;
            position: absolute;
            background-color: #2D81FF;
            border-radius: 4px;
            left: 0;
            top: 12px;
            width: 14px;
            height: 3px;
            -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
        }
        color: $blue;
        font-weight: 600;
        font-size: 22px;
        line-height: 30px;
        &_active {
            color: #292929;
            &::before {
                -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
                background-color: #292929;
            }
            &::after {
                -webkit-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                background-color: #292929;
            }
        }
    }
    &__answer {
        display: none;
        position: relative;
        margin-top: 20px;
        width: 1000px;
        padding: 15px 30px;
        border: 1px solid #E0E0E0;
        border-radius: 4px;
        &::before,
        &::after {
            content: ''; 
            position: absolute;
            left: 20px; top: -20px;
            border: 10px solid transparent;
            border-top: 11px solid #E0E0E0;
            -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);

        }
        &::after {
            border-top: 10px solid white;
            top: -18px; 
           }


        &_header {
            padding-bottom: 18px;
        }
    }

}

footer {
    background-color: $footer-color;
    color: #FFF;
    .footer {
        &__content {
            padding-top: 80px;
            display: flex;
            justify-content: space-between;
        }
        &__item {
            max-width: 15%;
            &__title {
                font-weight: bold;
                font-size: 16px;
                line-height: 22px;
                margin-bottom: 20px;

            }
            ul {
                list-style-type: none;
                a {
                    li {
                    
                        color: #fff;
                        text-decoration: underline;
                        margin-top: 15px;
                        font-size: 14px;
                    }
                }
                
            }
        }
        &__border {
            width: 100%;
            height: 1px;
            background-color: #454545;
            margin-top: 100px;
            margin-bottom: 30px;
        }
        &-under {
            &__logo {
                margin-bottom: 10px;
            }
            &__copyright {
                font-size: 14px;
                line-height: 19px;
            }
            &__wrapper {
                display: flex;
                justify-content: space-between;
            }
            &__tel {
                margin-top: 5px;
                font-weight: 600;
                font-size: 22px;
                line-height: 30px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                svg {
                    margin-right: 10px;
                }
            }
            &__text {
                margin-top: 10px;
                padding-bottom: 60px;
                text-align: right;
                display: inline-block;
                line-height: 24px;
                height: auto;
                a {
                    color: #fff;
                }
            }
        }
    }
}

